<div class="sidebar" style="margin-left:-70px; " >
    <ul class="widget widget-menu unstyled">
        <li class="active"><a [routerLink]="['/adminDash']"><i class="menu-icon icon-dashboard"></i>Dashboard
        </a></li>
        <li><a [routerLink]="['/productAdd']"><i class="fas fa-plus"></i> Add Product </a>
        </li>
        <li><a [routerLink]="['/orderdash']"><i class="fas fa-clipboard-list"></i> Product List <b class="label green pull-right">
            11</b> </a></li>
        <li><a [routerLink]="['/adminOrder']"><i class="fas fa-cash-register"></i> Customer Orders <b class="label orange pull-right">
            19</b> </a></li>
            <li><a [routerLink]="['/']"><i class="fas fa-mobile-alt"></i>&nbsp; Back to Mobikart </a></li>
            <li><a [routerLink]="['/admin']"><i class="menu-icon icon-signout"></i> Logout </a></li>
    </ul>
    <!--/.widget-nav-->
    
    
  
    <!--/.widget-nav-->
  
  </div>
  