
	<!--================ End Header Menu Area =================-->
  <app-header></app-header>
  <main class="site-main">
    
    <!--================ Hero banner start =================-->
    <section class="hero-banner">
      <div class="container">
        <div class="row no-gutters align-items-center pt-60px">
          <div class="col-5 d-none d-sm-block">
            <div class="hero-banner__img">
              <img class="img-fluid" src="../../../assets/banner3.jpg" alt="">
            </div>
          </div>
          <div class="col-sm-7 col-lg-6 offset-lg-1 pl-4 pl-md-5 pl-lg-0">
            <div class="hero-banner__content">
              <h4>Shop is fun</h4>
              <h1>Browse Our Premium Product</h1>
              <p>From budget phones to state-of-the-art smartphones, we have a mobile for everybody out there. Whether you're looking for larger, fuller screens, power-packed batteries, blazing-fast processors, beautification apps, high-tech selfie cameras or just large internal space, we take care of all the essentials. Shop from top brands in the country like Samsung, Apple, Oppo, Xiaomi, Realme, Vivo, and Honor to name a few.</p>
              <a class="button button-hero" [routerLink]="['/shop']">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero banner start =================-->

    <!--================ Hero Carousel start =================-->
   
     <!--Carousel Wrapper-->


    <!--================ Hero Carousel end =================-->

    <!-- ================ trending product section start ================= -->  
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px">
          <p>Popular Item in the market</p>
          <h2>Trending <span class="section-intro__style">Product</span></h2>
        </div>
        <div class="row">
          <div *ngFor="let model of models" class="col-md-6 col-lg-4 col-xl-3">
            <div class="card text-center card-product" >
              <div class="card-product__img">
                <a [routerLink]="['/product/',model.PRODUCT_ID]"><img class="card-img" src="http://localhost:3000/{{model.PRODUCT_IMAGE}}"  alt="iphoneX"></a>
                
              </div>
              <div class="card-body">
                <p>{{model.COMPANY_NAME}}</p>
                <h4 class="card-product__title"><a [routerLink]="['/product/',model.PRODUCT_ID]" >{{model.PRODUCT_NAME}} ({{model.COLOUR}})</a></h4>
                <p class="card-product__price">{{model.PRICE | currency: "&#8377; "}}</p>
              </div>
            </div>
          </div>
          
        </div>
      </div>
    </section>
    <!-- ================ trending product section end ================= -->  


    <!-- ================ offer section start ================= --> 
    <section class="offer" id="parallax-1" data-anchor-target="#parallax-1" data-300-top="background-position: 20px 30px" data-top-bottom="background-position: 0 20px">
      <div class="container">
        <div class="row">
          <div class="col-xl-5">
            <div class="offer__content text-center">
              <h3>Up To 50% Off</h3>
              <h4>Winter Sale</h4>
              <p>Him she'd let them sixth saw light</p>
              <a class="button button--active mt-3 mt-xl-4" [routerLink]="['/shop']">Shop Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- ================ offer section end ================= --> 

    <!-- ================ Best Selling item  carousel ================= --> 
    <section class="section-margin calc-60px">
      <div class="container">
        <div class="section-intro pb-60px" style="text-align: center;">
          <p>Popular Item in the market</p>
          <h2>Best <span class="section-intro__style">Sellers</span></h2>
        </div>
        <div id="video-carousel-example2" class="carousel slide carousel-fade" data-ride="carousel">
          <!--Indicators-->
          <ol class="carousel-indicators">
            <li data-target="#video-carousel-example2" data-slide-to="0" class="active"></li>
            <li data-target="#video-carousel-example2" data-slide-to="1"></li>
            <li data-target="#video-carousel-example2" data-slide-to="2"></li>
            <li data-target="#video-carousel-example2" data-slide-to="3"></li>
          </ol>
          <!--/.Indicators-->
          <!--Slides-->
          
          <div class="carousel-inner" role="listbox">
            <!-- First slide -->
            <div class="carousel-item active">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video width=100% height=100% allowfullscreen="allowfullscreen" class="video-fluid" [muted]="'muted'" id="myVid1" autoplay loop >
                  <source src="../../../assets/iphone.mp4"  id="myVideo" type="video/mp4" />
                </video>
                <div class="mask rgba-indigo-light"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive">iPhone SE</h3>
                  
                </div>
                <h3><i class="fas fa-volume-mute" (click)="toggleMute('myVid1')"  ></i> </h3>
              </div>
              <!--Caption-->
            </div>
            <!-- /.First slide -->
        
            <!-- Second slide -->
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video width=100% height=100% class="video-fluid" id="myVid2" [muted]="'muted'" (click)="toggleMute('myVid2')"  autoplay loop>
                  <source src="../../../assets/Samsung.mp4" id="myVideo"  type="video/mp4" />
                </video>
                <div class="mask rgba-purple-slight"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive">Samsung S20 Ultra</h3>
                  
                </div>
                <h3><i class="fas fa-volume-mute" (click)="toggleMute('myVid2')"  ></i> </h3>
              </div>
              <!--Caption-->
            </div>
            <!-- /.Second slide -->
        
            <!-- Third slide -->
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                <video width=100% height=100% class="video-fluid"  id="myVid3" [muted]="'muted'" autoplay  loop>
                  <source src="../../../assets/OnePlus8.mp4" id="myVideo" type="video/mp4" />
                </video>
                <div class="mask rgba-black-strong"></div>
              </div>
        
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive">OnePlus 8/8 Pro</h3>
                  
                </div>
                <h3><i class="fas fa-volume-mute" (click)="toggleMute('myVid3')"  ></i> </h3>
              </div>
              <!--Caption-->
            </div>
            <!-- /.Third slide -->
            <div class="carousel-item">
              <!--Mask color-->
              <div class="view">
                <!--Video source-->
                
                <video width=100% height=100% class="video-fluid" id="myVid4" [muted]="'muted'"  autoplay loop>
                  <source src="../../../assets/Redmi.mp4" id="myVideo"  type="video/mp4" />
                  
                </video>
                <div class="mask rgba-purple-slight"></div>
              </div>
              
              <!--Caption-->
              <div class="carousel-caption">
                <div class="animated fadeInDown">
                  <h3 class="h3-responsive">Redmi Note 10 </h3>
                  
                </div>
                <h3><i class="fas fa-volume-mute" (click)="toggleMute('myVid4')"  ></i> </h3>
              </div>
              
              <!--Caption-->
            </div>
          </div>
          
          
          <!--/.Slides-->
          <!--Controls-->
          <a class="carousel-control-prev" href="#video-carousel-example2" role="button" data-slide="prev"  >
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#video-carousel-example2" role="button" data-slide="next"  >
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
          <!--/.Controls-->
        </div>
      </div>
    </section>
    <!-- ================ Best Selling item  carousel end ================= --> 

    

    <!-- ================ Subscribe section start ================= --> 
    <section class="subscribe-position">
      <div class="container">
        <div class="subscribe text-center">
          <h3 class="subscribe__title">Get Update From Anywhere</h3>
          <p>Bearing Void gathering light light his eavening unto dont afraid</p>
          <div id="mc_embed_signup">
            <form target="_blank" class="subscribe-form form-inline mt-5 pt-1">
              <div class="form-group ml-sm-auto">
                <input class="form-control mb-1" type="email" name="EMAIL" placeholder="Enter your email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '" >
                <div class="info"></div>
              </div>
              <button class="button button-subscribe mr-auto mb-1" type="submit">Subscribe Now</button>
              <div style="position: absolute; left: -5000px;">
                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
              </div>

            </form>
          </div>
          
        </div>
      </div>
    </section>
    <!-- ================ Subscribe section end ================= --> 

    

  </main>


  <!--================ Start footer Area  =================-->	
<app-footer></app-footer>
	<!--================ End footer Area  =================-->
