<div class="hold-transition register-page">
    <div class="register-box">
        <div class="register-logo">
          <b><b>Mobi</b>Kart</b>
        </div>
      
        <div class="card">
          <div class="card-body register-card-body">
            <p class="login-box-msg">Register as a new member</p>
      
            <form  #regForm='ngForm' (ngSubmit)='ChangePassword(regForm)'>
              
              <div class="input-group mb-3">
                <input type="password" id="Old" name="Old" [(ngModel)]="model.Old" class="form-control" placeholder="Old Password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              
             
              
              <div class="input-group mb-3">
                <input type="password" id="Password" name="Password" [(ngModel)]="model.Password" class="form-control" placeholder="Password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
              </div>
              <div class="input-group mb-3">
                <input type="password" id="ConfirmPassword" name="ConfirmPassword" [(ngModel)]="model.ConfirmPassword" class="form-control" placeholder="Retype password" required>
                <div class="input-group-append">
                  <div class="input-group-text">
                    <span class="fas fa-lock"></span>
                  </div>
                </div>
                <span style="color:red">{{passwordalert}}</span>
              </div>
              <div class="row">
                
                <!-- /.col -->
                <div class="col-4">
                  <button type="submit" [disabled]=!regForm.form.valid  class="btn btn-primary btn-block">Register</button>
                </div>
                <!-- /.col -->
              </div>
            </form>
            <!--{{model | json}}-->
      
            
      
            <a [routerLink]="['/login']" class="text-center">Already have an Account: Sign In</a><br/>
            <a [routerLink]="['/']" class="text-center">Back to Mobikart</a>
          </div>
          <!-- /.form-box -->
        </div><!-- /.card -->
      </div>
    </div>